In [26]:
import pandas as pd
import numpy as np
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score

from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.ensemble import RandomForestClassifier,AdaBoostRegressor
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import GridSearchCV

In [2]:
df = pd.read_pickle('../data/pickled_df.pkl')

In [3]:
df

,country,email_domain,has_analytics,user_age,tickets_total,tiers,max_cost,min_cost,total,intl_trans,type_one_user,org_desc_exists,org_name_exists,previous_payout_count,org_facebook_exists,org_twitter_exists,fraud
0,0,0,0,36,920,3,550.00,25.00,36000.00,False,True,0,1,0,0,0,True
1,0,0,0,149,100,2,35.00,35.00,3500.00,False,False,1,1,49,0,1,False
2,0,0,0,214,48,1,93.51,93.51,4488.48,False,False,1,1,36,0,0,False
3,0,0,0,889,30000,6,25.00,5.00,410000.00,True,False,0,0,21,0,0,False
4,0,0,0,35,264,8,200.00,36.00,28596.00,False,False,1,1,49,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14332,0,0,0,0,400,1,45.00,45.00,18000.00,False,True,0,0,0,0,0,True
14333,0,0,0,1374,3256,8,90.00,0.00,187600.00,False,False,1,1,5,0,0,False
14334,0,0,0,84,148,5,150.00,5.00,3450.00,True,False,0,1,1,0,0,False
14335,0,0,0,812,100,2,79.33,79.33,7933.00,False,False,0,0,128,0,0,False
14336,0,0,0,0,20,1,283.00,283.00,5660.00,False,True,0,1,0,0,0,True

In [7]:
y = df['fraud']
X = df.drop('fraud', axis=1)

In [19]:
X

,country,email_domain,has_analytics,user_age,tickets_total,tiers,max_cost,min_cost,total,intl_trans,type_one_user,org_desc_exists,org_name_exists,previous_payout_count,org_facebook_exists,org_twitter_exists
0,0,0,0,36,920,3,550.00,25.00,36000.00,False,True,0,1,0,0,0
1,0,0,0,149,100,2,35.00,35.00,3500.00,False,False,1,1,49,0,1
2,0,0,0,214,48,1,93.51,93.51,4488.48,False,False,1,1,36,0,0
3,0,0,0,889,30000,6,25.00,5.00,410000.00,True,False,0,0,21,0,0
4,0,0,0,35,264,8,200.00,36.00,28596.00,False,False,1,1,49,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14332,0,0,0,0,400,1,45.00,45.00,18000.00,False,True,0,0,0,0,0
14333,0,0,0,1374,3256,8,90.00,0.00,187600.00,False,False,1,1,5,0,0
14334,0,0,0,84,148,5,150.00,5.00,3450.00,True,False,0,1,1,0,0
14335,0,0,0,812,100,2,79.33,79.33,7933.00,False,False,0,0,128,0,0
14336,0,0,0,0,20,1,283.00,283.00,5660.00,False,True,0,1,0,0,0

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, stratify = y)

In [9]:
model = AdaBoostClassifier(n_estimators=100, random_state=0)

In [10]:
model.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=100, random_state=0)

In [11]:
preds = model.predict(X_test)

In [15]:
sum(preds)

370

In [16]:
sum(y_test == True)

427

In [17]:
370/427

0.8665105386416861

In [13]:
def eval_model(model, X_test, y_test):
    preds = model.predict(X_test)
    acc = accuracy_score(y_test, preds)
    rec = recall_score(y_test, preds)
    prec = precision_score(y_test, preds)
    f1 = f1_score(y_test, preds)
    print('===ACCURACY===')
    print(acc)
    print('===RECALL===')
    print(rec)
    print('===PRECISION===')
    print(prec)
    print('===F1===')
    print(f1)

In [14]:
eval_model(model, X_test, y_test)

===ACCURACY===
0.9795012679628065
===RECALL===
0.819672131147541
===PRECISION===
0.9459459459459459
===F1===
0.8782936010037641

In [20]:
model1 = AdaBoostClassifier(n_estimators=400, random_state=0)

In [ ]:
values_dict = {n_estimators: [50, 100, 200]}

In [27]:
rf_model = RandomForestClassifier(n_estimators=100, max_depth = 10, random_state=0)

In [23]:
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [24]:
eval_model(rf_model, X_test, y_test)

===ACCURACY===
0.9860524091293322
===RECALL===
0.8875878220140515
===PRECISION===
0.9546599496221663
===F1===
0.9199029126213593

In [ ]:
n_estimators=100, *, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None